<%- include("partials/header.ejs") %>



    <div class="container mt-5">
        <div class="row">
            <!-- course name and score -->
            <div class="col-md-5 col-12">
              <div>
                  <h1>Course: <%= course.code%></h1>
                  <h4><%= course.name%></h4>
      
                  <h5>Usefulness: <%= course.getUsefulness()%></h5>
                  <h5>Difficulties:<%= course.getDifficulty()%></h5>
                  <h5>Interesting:<%= course.getInteresting()%></h5>
                  <h5>
                    Sentiment Score: 
                    <% if (course.score == "None"){ %>
                      n/a
                    <%} else{%>
                      <%= parseFloat(course.score).toFixed(2) %>
                    <%}%>
        
                    <a tabindex="0" class="btn btn-sm btn-outline-danger" role="button" data-toggle="popover" data-trigger="focus" 
                    title="What's that'?" 
                    data-content="Sentiment score calculated using sentimental analysis based on thousands of relavent posts on UofT reddit ">
                    ?</a>
                  </h5>

                  <p>BR: <%= course.br_category%></p>
              
                  <p>Monthly viewed: <%= course.monthly_visit%></p>
                  <p>
                    Popularity:  <%= course.heat%>
                    <a tabindex="0" class="btn btn-sm btn-outline-danger" role="button" data-toggle="popover" data-trigger="focus" 
                    title="What's that?" 
                    data-content="Popularity index is calculated based on # of related posts, replies, and upvotes on UofT reddit">
                    ?</a>
                  </p>
            
              </div>
            </div>
            <div class="col-md-7 col-12">
              <img class="img-fluid" style="height:280px"src="<%= course.word_cloud %>">
            </div>
        </div>
        <h5>Description:</h5>
        <p><%= course.description%> </p>
            
        <hr>

        <!-- Reddit Comment list -->
        <div class="column mt-5">
          <% for(var comment of course.reddit_comments){ %>
            
              <div class="row">
                <div class="card-body">
                  <a class="button-secondary" style="color:#FF4301" href="<%= comment.url %>"><h5>
                      <i class="fa fa-reddit fa-lg" aria-hidden="true"></i>
                      &nbsp<%=comment.title %>
                    </h5></a>
                  <p class="card-text"><%= comment.content %></p>
                  
                  <!-- <p> Not relevent comments? Let us know!</p> -->
                 <!-- 为了绕过ajax简单粗暴做了visitor/login version -->

                  <% if (typeof currentUser === 'undefined' ){ %>
                    <form >
                      <div>
                        <label class="btn btn-outline-primary btn-sm ">
                          <a href="/login" style="color:inherit; " autocomplete="off" >
                          relevant👍<%= comment.relevant_score %></a>
                        </label>
                        <label class="btn btn-outline-secondary btn-sm">
                          <a href="/login" style="color:inherit;" autocomplete="off">
                          not relevant👎<%= comment.nonrelevant_score %></a>
                        </label>
                      </div> 
                  </form>
                 

                  <%} else{%>

        
                  
                  <form class="feedback_form">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  
                      <label class="btn btn-outline-primary btn-sm ">
                        <input class="reddit_like_btn" type="radio" name="relevant_score" data-comment_id="<%= comment._id %>" id="reddit_relevant_btn" autocomplete="off" >
                         relevant👍<%= comment.relevant_score %>
                      </label>
                      <label class="btn btn-outline-secondary btn-sm">
                        <input class="reddit_like_btn" type="radio" name="nonrelevant_score" data-comment_id="<%= comment._id %>"  id="reddit_nonrelevant_btn" autocomplete="off">
                         not relevant👎<%= comment.nonrelevant_score %>
                      </label>
                      <label class="btn btn-outline-warning btn-sm">
                        <input class="reddit_like_btn" type="radio" name="funny_score" data-comment_id="<%= comment._id %>"  id="reddit_nonrelevant_btn" autocomplete="off">
                         good to know 🤔 <%= comment.funny_score %>
                      </label>
                    </div>
                
                  </form>
                  <div  class="submission_msg alert alert-info sm" style="width: 250px; display:none" role="alert">
                    Thank you for the feedback! 
                  </div>
                  


          
                  <%}%>




                  <hr>
                </div>
              </div>
            <% } %>
      

        </div>


        <!-- User uploaded comment section  -->

    
        <div class=" p-4 mt-2 border bg-light">

          <div class="border border-dange mb-2" style="height:5em">
            <h2> Review from your classmates</h5>

          </div>

    
          <% if (typeof currentUser === 'undefined' ){ %>
            <a href="/login" style="color:inherit; text-decoration:inherit"><div>
          <%}%>

          <form id="redditLikeForm" action="/course/<%= course.code %>/new-review" method="post" >
            <div class="form-row align-items-center">
      
                <div class="col-md-3 my-1">
                  <label for="inputUsefulness">Usefulness</label>
                  <select id="inputUsefulness" name="usefulness" class="form-control" required>
                    <option value=""> - - Scale 1-5 - -</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                  </select>
                </div>
          
              <div class="col-md-3 my-1">
                <label for="inputDifficulty">Difficulty</label>
                <select id="inputDifficulty"  name="difficulty" class="form-control" required>
                  <option value="">- - Scale 1-5 - -</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>

              <div class="col-md-3 my-1">
                <label for="inputInteresting">Interesting</label>
                <select id="inputInteresting"  name="interesting" class="form-control" required>
                  <option value="">- - Scale 1-5 - -</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>

              <div class="col-md-3 my-1">
                <label for="inputBR">Taking it as..?</label>
                <select id="inputBR" name="br" class="form-control" required>
                  <option value="">Please select...</option>
                  <option value="true">Breath Requirement</option>
                  <option value="false">Program Requirement</option>
                </select>
              </div>


            </div>

            <div class="form-group">
              <label for="inputReviewTitle">Review Title</label>
              <input type="text" class="form-control" id="inputReviewTitle" name="courseReviewTitle" placeholder="Enter a title.." required >
            </div>
            <div class="form-group">
              <label for="inputCourseReview">Leave a useful review for you fellows!</label>
              
              <textarea class="form-control" id="inputCourseReview" name="courseReview" rows="5" required  placeholder="Professor name, workload, what I like/hate about..."></textarea>
            </div>

            <div class="text-right">
              <button type="submit" class="btn button-primary mt-4">Add a course review</button>
            </div>
          </form>
          
          <% if (typeof currentUser === 'undefined' ){ %>
          </div></a>
  
          <%}%>

          
          <% course.course_reviews.forEach(function(review){ %>
            <hr>
            <div class="row mt-4">
              <div class="col-md-3">
                <p><%= "User: " + review.author%></p>
                <p>Usefulness: <%= "★".repeat(review.useful_score) + "☆".repeat(5 - review.useful_score) %></p>
                <p>Difficulty: <%= "★".repeat(review.difficulty_score) + "☆".repeat(5 - review.difficulty_score)  %></p>
                <p>Interesting: <%= "★".repeat(review.interesting_score) + "☆".repeat(5 - review.interesting_score)  %></p>
              </div>

              <div class="col-md-9" >
                <h5><%= review.title%></h5> 
                <p><%= review.content %></p>
                <span> <%= review.date%> </span>   

                <!-- <div>
                  <button type="button" class="btn btn-primary btn-sm "> Upvote👍   review.upvote </button>
                  <button type="button" class="btn btn-secondary btn-sm ">Downvote👎   review.downvote </button>
                </div> -->
              </div>


            </div>
          


          <% }) %>


                             
        </div>
      

      


    </div>

    <script>
    $( document ).ready(function() {
      $('.reddit_like_btn').change(function() {

        var $button = $( this );
        var commentId = $button.data( 'comment_id' )
        var isRelevant = ($button.attr('name'));

        var $toHideForm = $(this).parents(".feedback_form");

        $toHideForm.hide();
        $toHideForm.next().fadeIn(500);




        // $(this).parents(".feedback_form").hide();
        
     


        $.ajax({
          type : "POST",
          url : "/" + commentId + "/reddit/report",
          data: {'isRelevant':isRelevant},
          success : function(customer) {
            console.log("success!")
          },
          error : function(e) {

            console.log("NOT success!")
            console.log("ERROR: ", e);
          }
        });


      });

    });


    </script>

<%- include("partials/footer.ejs") %>
      

  



